.header__container {
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1770px;
    margin: auto;
}

.burger__menu {
    display: none;
}

.nav__header {
    vertical-align: middle;
    justify-content: space-between;
    display: inline-flex;
    margin: 39px 0px;
    text-align: end;
}

.logo {
    margin-left: spx;
    margin-top: -2px;
    display: flex;
    margin-right: auto;
}

.header__nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
}

.div__header__nav {
    width: 18%;
    margin-left: 40px;
}

.container__header {
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 4%;
    width: 100%;
    margin-right: 4%;
}

.header__nav:hover {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    outline-color: 2px solid #FF9900;
}

.header__nav:first-of-type:hover {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    outline-color: 2px solid #FF9900;
}

.header__nav:focus-visible {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    outline-color: #FF9900;
}

.header__nav:first-of-type:focus-visible {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    outline-color: #FF9900;
}

.header__nav:active {
    margin-left: 84px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
}

.header__nav:first-of-type:active {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
}

.header__nav:first-of-type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.header__search {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-left: 45px;
}

.search {
    display: none;
    background-image: url(../images/search.svg);
    width: auto;
    height: auto;
}

.form__search {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 50px;
    color: #FF9900;
    padding-right: 50px;
    line-height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.input__search {
    border: 0;
    background: transparent;
    width: 0;
    outline: none;
    font-family: 'sans-serif';
    font-size: 18px;
    color: #FFFFFF;
    font-style: normal;
    transition: all 0.3s ease;
    position: relative;
}

.form__search.i__search {
    color: #FFFFFF;
    position: absolute;
    right: 17px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.form__search.active {
    width: 100px;
    padding-left: 25px;
    transition: all 0.5s ease;
}

.input__search.active {
    width: 90%;
    transition: all 0.5 ease;
    padding-left: 5px;
}

.input__search::placeholder {
    color: #FF9900;
}